/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source sans pro', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.borda {
  border: 1px solid black;
}
/* ========== ROOT ========== */
:root {
  --hue: 195;
  --main-color: hsl(var(--hue) 82% 50%);
  --light-color: hsl(var(--hue) 79% 65%);
  --dark-color: hsl(var(--hue) 43% 29%);
  --alt-dark-color: hsl(var(--hue) 83% 23%);
  --main-alt-color: hsl(var(--hue) 82% 39%);
  --white: white;
  --black: #0d0d0d;
}
/* ========== LAYOUT ========== */

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2rem;
}
section {
  padding: 2rem 0;
}
.title {
  font-size: 2.3rem;
  color: var(--alt-dark-color);
}
.a-btn {
  text-align: center;
  background: var(--dark-color);
  color: var(--white);
  width: 240px;
  height: 50px;
  font-size: 1.2rem;
  line-height: 50px;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* ========== HEADER ========== */
#header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-bottom: 0.1rem solid #ccc;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.3);
}
#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav .a-logo {
  font-size: 3rem;
  color: var(--black);
  font-weight: bold;
}
#header nav .a-logo span {
  color: var(--main-color);
}
#header ul {
  display: flex;
  gap: 2rem;
}
#header ul a {
  color: var(--black);
  font-size: 1.6rem;
  display: block;
  padding: 3rem 0;
}
/* ========== INTRO ========== */
#intro {
  background-color: var(--light-color);
}
#intro .box {
  width: 750px;
  max-width: 100%;
}
#intro .box h1 {
  font-size: 3.5rem;
  color: var(--white);
}
#intro .box p {
  font-size: 1.1rem;
  color: var(--white);
}

#intro .a-btn:hover {
  transform: scale(1.03);
}

/* ========== MODELOS DE SITES ========== */
#model .box-model {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  border-radius: 0.35rem;
  transition: transform 0.3s;
}
#model .box-model:hover {
  transform: scale(1.02);
}
#model .box-model .img {
  flex: 300px;
  border-radius: 0.35rem;
  overflow: hidden;
}
#model .box-model .img img {
  display: block;
}
#model .box-model .text {
  flex: 500px;
  place-content: center;
  gap: 1rem;
  padding: 0 10% 0 2%;
}
#model .text h3 {
  font-size: 1.9rem;
  color: var(--light-color);
}
